body{
	font-family: 'Roboto', sans-serif;
}
.company_logo{
	display: inline-block;
	width: 110px;
    height: 48px;
}
.firstNav a{
	color: #fff;
	text-decoration: none;
	padding: 7px 9px;
	font-size: 18px;
}
.firstNav button{
	margin: 4px;
	padding: 6px 15px;
}
.sidebar{
	flex-grow: 0;
}
.india{
	border-left: 1px solid #fff;
}
.btn-sign{
	color: #fff;
	font-size: 18px;
}
.btn-sign:hover{
	color: #fff;
	background-color: #0d6efd;
}
.addTocart i{
	vertical-align: middle;
	padding: 0 0 0 6px;
}
.secondDiv{
	text-align: center;
	margin: 9px 0;
	font-size: 22px;
}
.lottery{
	background-image: url(assets/images/new-desk.png);
/*	width: 1140px;*/
	border-radius: 22px;
	background-size: cover;
    background-repeat: no-repeat;
}
.second_section{margin:20px 0}
.tickets{
	color: #ffffff;
	padding: 20px 16px 0 18px;
	margin-bottom: 0!important;
	font-weight: 700;
}
.online{
	color: #539c2c;
	padding: 2px 16px 10px 18px;
	font-weight: 700;
}
.advantages{
	padding-bottom: 12px;
}
.advantages p{
	color: #ffffff;
	font-size: 18px;
	padding-left: 36px;
}
.userUpdates{
	border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: rgba(0,0,0, 0.3) 0px 5px 15px;
   	height: 217px;
   	padding: 20px;
    width: 48%;
	margin-bottom: 20px;
}
.power{
	color: #DB1735;
}
.millions{
	color: #094FA3;
}
.sign{
	color: #539c2c;
}
.userCount p{
	border: 1px solid #aaaaaa;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 2px 0px 3px;
    margin: 25px 4px 0 0;
}
.btn-confirm{
	background-color: #539C29;
	color: #fff;
	border: none;
	font-size: 14px;
	padding: 5px 15px;
    border-radius: 18px;
    right: 10px;
    top: 19px;
}
.emailInput{
	width: 100%;
	border: 1px solid #d1d2d3;
    border-radius: 5px !important;
    height: 40px;
    padding: 16px;
    margin-top: 15px;
}
.userPower{
	background-color: #DB1735;
	color: #fff;
}
.userMillions{
	color: #fff;
	background-color: #094FA3;
}
.inNews{
	width: 100%;
    height: 350px;
    background: #f2f2f2;
    text-align: center;
    padding: 55px 0 0px 0;
    margin-top: 15px;
}
.inNews a{
	text-decoration: none;
}
.inNews img{
	width: 10%;
	padding: 11px;
	margin: 20px;
}
.badge{
	color: #fff!important;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 3px;
    width: 64px;
    margin: 15px 0;
    text-align: center;
}
.step p{
	padding-right: 38px;
}
.ratings{
	background: linear-gradient(320deg, #4b6cb7 0%, #182848 100%);
	width: 100%;
	margin: 40px 0;
}
.download_app img{
	width: 21%;
    padding: 12px 15px 15px 70px;
}
.reviews{
	color: #fff;
	padding: 35px 0;
}
#siteImg{
	width: 93%;
}
.aboutSite{
    padding: 20px 30px;
    margin-right: 85px;
    margin-bottom: 9px;
}
.aboutSite:hover{
	box-shadow: rgba(0,0,0, 0.3) 0px 5px 15px;
    border-radius: 10px;
}
.aboutSite p{
	font-size: 16px;
}
.tryLuck{
	background-color: #ECF2FF;
	width: 100%;
}
.lottery-card{
	border: 2px solid #fff;
	box-shadow: rgb(0, 0, 0, 0.3) 0px 5px 15px;
	width: 22rem;
}
.lottery-card button{
	background-color: #DB1735;
	color: #ffff;
	padding: 11px 60px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0px 13.9806px 27.9612px rgb(0 0 0 / 20%);
}
.million-card{
	margin-right: 40px;
}
.million-card button{
	background-color: #094FA3;
}
.abouttryLuck{
	padding: 40px 0;
}
.partners{
	background: #f2f2f2;
	margin-top: 70px;
	padding: 30px 0;
}
.partners img{
	width: 4%;
	margin: 14px 18px;
}
.footEnd{
	background-color: #0a142f;
	color: #fff;
	padding: 40px 0;
}
.footEnd a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	width: 100%;
}
.footEnd img{
	width: 100%;
}
.aboutfooter h4{
	padding: 15px 0;
}
.menuTous p{
	font-size: 14px;
	padding: 15px 0;
}
.menuTous a{
	text-decoration: none;
}
.third-party-app{
	font-size: 15px;
	padding: 20px 0;
}
.aboutApp img{
	width: 35%;
	margin-bottom: 18px;
}
.aboutApp p{
	font-size: 15px;
	margin-bottom: 75px;
}
.aboutApp h5{
	font-size: 16px;
}
.aboutFounder img{
	margin: 35px 20px;
    width: 38%;
}
.aboutFounder i{
	font-size: 28px;
}
.investors h5{
	padding: 45px 0;
}
.investors p{
	font-size: 15px;
	padding: 0 150px 15px;
}
.investors img{
	width: 85%;
	padding:15px 15px 30px 25px;
}
.investors{
	margin-bottom: 35px;
}
.userRes p{
	font-size: 15px;
	padding: 0 63px;
}
.signDiv{
	background-color: #f0f3fd;
    padding: 20px 20px;
    border-radius: 12px;
    width: fit-content;
    margin-top: 20px;
}
.btn-signIn{
	background-color: #2A4ED0;
    color: #fff;
    margin: 0 15px;
    padding: 6px 15px 6px 15px;
    font-size: 20px;
}
.btn-signUp{
	border: 3px solid #1d4ed8;
    border-radius: 8px;
    color: #1d4ed8;
    padding: 6px 15px 6px 15px;
    font-size: 20px;
}
.aboutContact{
	margin: 95px 0 203px 0;
}
.aboutForm{
	width: 32%;
	padding: 15px 0px;
}
.aboutForm select{
	color: #999;
	border: 1px solid #ccc;
    box-shadow: rgba(0,0,0, 0.3) 0px 5px 15px;
    padding: 9px;
}
.emptyDiv{
	margin: 10px 0 10px 0;
    padding: 0 0 0 0;
    background: rgb(240, 240, 240);
    border-radius: 10px;
    display: block;
    height: 52px;
}
.compareNo{
	font-size: 15px;
	padding: 16px 0;
}
.compareNo p{
	padding: 6px 0;
}
.navHelp{
	padding: 12px 70px;
}
.navHelp a{
	color: black;
}
.navHelp img{
	width: 100%;
}
.submit a{
	font-size: 14px;
	color: #1F73B7;
}
.submit a:hover{
	text-decoration: underline;
}
.searchBar{
	background-image: url(assets/images/helpImg.png);
	background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin-bottom: 35px;
}
.searchBar i{
	top: 49%;
    left: 29%;
    z-index: 1;
	color: #666;
}
.searchBar input{
	color: #666;
	border-radius: 30px;
	top: 45%;
    left: 28%;
    right: 40%;
    width: 44%;
    padding: 7px 40px;
    font-size: 15px;
    border: 1px solid #666;
}
.aboutHelp a{
	border: 1px solid rgba(6, 6, 6, 1);
    border-radius: 4px;
    width: 32%;
    padding: 20px 30px;
    text-decoration: none;
    color: black;
    margin: 15px 0px;
}
.aboutHelp a:hover{
	color: #fff;
	background-color: rgba(6, 6, 6, 1);
}
.errors a{
	color: #1F73B7;
	text-decoration: none;
	padding-bottom: 5px;
}
.errors p{
	font-size: 14px;
	padding-bottom: 8px;
}
.errors h5{
	font-size: 16px;
	padding-bottom: 12px;
}
.errorTime p{
	font-size: 13px;
	color: #2F3941;
	padding-top: 42px;
}
.btn-toggle{
	background-color: #fff;
}